<h1>Editing server</h1>

<% form_for(@server) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
