<div class="ubersearch">
  <strong>using <%= pluralize @servers.size, "server" %></strong>
  <div class="clearfix">
    <% for server in @servers %>
    <div class="result clearfix">
      <div class="info">
        <dl>
          <dt>Title:</dt> <dd class="result_name fn"><%= link_to h(server.title), server %></dd>
          <dt>URL:</dt> <dd><%= link_to h(server.url), server.url %></dd>
        </dl>
      </div>
      <ul class="actionspro">
        <li class="actionspro_li"><%= link_to 'Show', server, :class => 'actionspro_a' %></li>
        <% if @current_user.is_site_admin? %>
        <li class="actionspro_li"><%= link_to 'Edit', edit_server_path(server), :class => 'actionspro_a', :id => 'admin' %></li>
        <li class="actionspro_li"><%= link_to 'Destroy', server,
          :confirm => 'Are you sure do you want to delete this server?',
        :method => :delete, :class => 'actionspro_a', :id => 'admin' %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
