<div class="info">
  <table>
    <td>
      <dl class="clearfix">
        <dt><fb:profile-pic uid="<%= status_item['id'] %>" size="square" linked="true" /></dd>
        <dt><%= link_to "<fb:name uid=\"#{status_item['id']}\" />", "http://www.facebook.com/profile.php?id=#{status_item['id']}" %></dd>
      </dl>
    </td>
    <td>
      <dl class="clearfix">
        <dt>Turn Name:</dt><dd><%= status_item['turnName'] %></dd>
        <dt>Turn ID:</dt><dd><%= status_item['turnId'] %></dd>
        <dt>Turn #:</dt><dd><%= status_item['turnNumber'] %></dd>
        <dt>Hint #:</dt><dd><%= status_item['hintNumber'] %></dd>
      </dl>
    </td>
  </table>
</div>
