<div class="result clearfix" >
    <dl>
    <dt>
      <dd class="result_name fn">User: <%= Facebooker::User.new(status_item['id']).name %></dd>
      <dd class="result_name fn">Turn Name: <%= status_item['turnName'] %></dd>
      <dd class="result_name fn">Turn Id: <%= status_item['turnId'] %></dd>
      <dd class="result_name fn">Turn Number: <%= status_item['turnNumber'] %></dd>
      <dd class="result_name fn">Hint Number: <%= status_item['hintNumber'] %></dd>
    </dt>
    </dl>
  </div>
