<%= stylesheet_link_tag "flag-nav", :media => "screen" %>
<script type="text/javascript">
    <!--
function show(div, from){
    var infos = [document.getElementById('video_info'), document.getElementById('geoloc_info'), document.getElementById('picture_info'), document.getElementById('url_info'), document.getElementById('string_info')];
    var lis = [document.getElementById('video_li'), document.getElementById('geoloc_li'), document.getElementById('picture_li'), document.getElementById('url_li'), document.getElementById('string_li')];
    for (var i = 0; i < infos.length; i++) {
        infos[i].setStyle('display','none');
    }
    for (var i = 0; i < lis.length; i++) {
        lis[i].removeClassName('flag_nav_item_selected');
    }
    var curr = document.getElementById(div);
    curr.setStyle('display','block');
    document.getElementById(from).addClassName('flag_nav_item_selected');
}
//-->
</script>
<div id="content" class="mywidth clearfix">
  <div class="dashboard_header">
    <div class="dh_titlebar clearfix">Answer!</div>
  </div>
  <div class="content_no_sidebar">
    <div class="dev_applications clearfix">
      <div class="flag_nav flag_nav_has_icon dev_app_list" id="dev_app_list">
        <div class="flag_nav_container">
          <div class="flag_nav_item flag_nav_item_selected" id="video_li">
            <a href="#" onclick="show('video_info', 'video_li'); return false;" class="clearfix">
              <div class="flag_nav_li_icon" style="background-image: url(http://www.facebook.com/images/icons/video.gif);"></div>
              <div class="flag_nav_li_title">Video</div>
              <div class="flag_nav_top_mask"></div>
            </a>
            <span class="flag_nav_border_hack"> </span>
          </div>
          <div class="flag_nav_item" id="picture_li">
            <a href="#" onclick="show('picture_info', 'picture_li'); return false;" class="clearfix">
              <div class="flag_nav_li_icon" style="background-image: url(http://www.facebook.com/images/icons/photo.gif);"></div>
              <div class="flag_nav_li_title">Picture</div>
              <div class="flag_nav_top_mask"></div>
            </a>
            <span class="flag_nav_border_hack"> </span>
          </div>
          <div class="flag_nav_item" id="geoloc_li">
            <a href="#" onclick="show('geoloc_info', 'geoloc_li'); return false;" class="clearfix">
              <div class="flag_nav_li_icon" style="background-image: url(http://www.facebook.com/images/icons/magnifying_glass.gif);"></div>
              <div class="flag_nav_li_title">Location</div>
              <div class="flag_nav_top_mask"></div>
            </a>
            <span class="flag_nav_border_hack"> </span>
          </div>
          <div class="flag_nav_item" id="url_li">
            <a href="#" onclick="show('url_info', 'url_li'); return false;" class="clearfix">
              <div class="flag_nav_li_icon" style="background-image: url(http://www.facebook.com/images/icons/link.gif);"></div>
              <div class="flag_nav_li_title">Link</div>
              <div class="flag_nav_top_mask"></div>
            </a>
            <span class="flag_nav_border_hack"> </span>
          </div>
          <div class="flag_nav_item" id="string_li">
            <a href="#" onclick="show('string_info', 'string_li'); return false;" class="clearfix">
              <div class="flag_nav_li_icon" style="background-image: url(http://www.facebook.com/images/icons/note.gif);"></div>
              <div class="flag_nav_li_title">Text</div>
              <div class="flag_nav_top_mask"></div>
            </a>
            <span class="flag_nav_border_hack"> </span>
          </div>
        </div>
      </div>
      <div class="dev_app_infos_shadow">
        <div class="dev_app_infos" id="dev_app_infos">
          <div class="dev_application app_show" id="video_info">
            <div class="dev_application_header clearfix">
              <h3>Video</h3>
              <div id="app_submit">
                <div class="dev_app_submit">
                
              <a href="http://www.youtube.com" target="_blank"><img src="http://www.youtube.com/img/YouTube_logo.png" /></a><a href="http://video.google.com" target="_blank"><img src="http://video.google.com/common/google_logo.gif" /></a>
                </div>
              </div>
            </div>
            <div class="dev_application_data">
              <div class="dev_app_insights clearfix">
                
                <fb:iframe width="430" height="400" scrolling=yes frameborder=no src="http://localhost:3000/videos/index?server_id=<%=@server.id%>&hunt_id=<%=@hunt.id%>"></fb:iframe>
             </div>
            </div>
            <div class="dev_app_footer"><%= link_to 'Back', :action => :hint %> | <a href="www.facebook.com/">Action2</a></div>
          </div>
          <div class="dev_application app_show" id="geoloc_info" style="display:none">
            <div class="dev_application_header clearfix">
              <a href="http://maps.google.com" target="_blank"><img src="http://maps.google.com/intl/en_us/images/maps_logo_small.png" /></a>
              <h3>Location</h3>
              <div id="app_submit">
                <div class="dev_app_submit">
                  <h6>Search a location on the map and paste it's coordinates right there!</h6>
                  <p>click on the above link to open a new window/tab with Google Maps, search for the location and paste it's coordinates in the text fields below</p>
                </div>
              </div>
            </div>
            <div class="dev_application_data">
            <div class="dev_app_insights clearfix">
            <fb:iframe width="428" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://biascica.pipps.net:9999/maps/search?server=<%= @server.id %>&hunt=<%= @hunt.id %>" />
                <% form_tag :action => :answer, :type => "geoloc" do %>
                <%= label_tag 'geoloc_lat', 'Latitude:' %>
                <%= text_field_tag :geoloc_lat, nil, {:maxlength => 8, :class => "inputtext" } %>
                <br />
                <%= label_tag 'geoloc_lat', 'Longitude:' %>
                <%= text_field_tag :geoloc_long, nil, { :maxlength => 8, :class => "inputtext" } %>
                <br/>
                <%= label_tag 'geoloc_lat', 'Planet (optional):' %>
                <%= text_field_tag :geoloc_planet, nil, { :maxlength => 8, :class => "inputtext" } %>
                <%= submit_tag 'Submit', :class => "inputsubmit" %>
                <% end %>
              </div>
            </div>
            <div class="dev_app_footer"><%= link_to 'Back', :action => :hint %> | <a href="www.facebook.com/">Action2</a></div>
          </div>
          <div class="dev_application app_show" id="url_info" style="display:none">
            <div class="dev_application_header clearfix">
              <a href="http://www.google.com" target="_blank"><img src="http://www.google.com/intl/en/press/zeitgeist2001/google_logo.gif" /></a>
              <h3>Link</h3>
              <div id="app_submit">
                <div class="dev_app_submit">
                  <h6>Search for the correct link on Google and paste it right there!</h6>
                  <p>click on the above link to open a new window/tab with Google, search for the link and paste it in the text field below</p>
                </div>
              </div>
            </div>
            <div class="dev_application_data">
              <div class="dev_app_insights clearfix">
                <% form_tag :action => :answer, :type => "URI" do %>
                <%= label_tag :answer, 'Link url:' %>
                <%= text_field_tag :answer , nil, { :class => "inputtext" } %>
                <%= submit_tag 'Submit', :class => "inputsubmit" %>
                <% end %>
              </div>
            </div>
            <div class="dev_app_footer"><%= link_to 'Back', :action => :hint %> | <a href="www.facebook.com/">Action2</a></div>
          </div>
          <div class="dev_application app_show" id="string_info" style="display:none">
            <div class="dev_application_header clearfix">
              <h3>Text</h3>
              <div id="app_submit">
                <div class="dev_app_submit">
                  <h6>Write the answer right there!</h6>
                  <p>yes, right there!</p>
                </div>
              </div>
            </div>
            <div class="dev_application_data">
              <div class="dev_app_insights clearfix">
                <% form_tag :action => :answer, :type => "string" do %>
                <%= text_area_tag :answer, nil, :size => "55x10" %>
                <%= submit_tag 'Submit', :class => "inputsubmit" %>
                <% end %>
              </div>
            </div>
            <div class="dev_app_footer"><%= link_to 'Back', :action => :hint %> | <a href="www.facebook.com/">Action2</a></div>
          </div>
          <div class="dev_application app_show" id="picture_info" style="display:none">
            <div class="dev_application_header clearfix">
              <a href="http://www.flickr.com" target="_blank"><img src="http://l.yimg.com/g/images/logo_home.png.v2" /></a>
              <h3>Picture</h3>
              <div id="app_submit">
                <div class="dev_app_submit">
                  <h6>Search for the correct picture on Flickr and paste the url right there!</h6>
                  <p>click on the above link to open a new window/tab with Flick, search for the image and paste the url in the text field below</p>
                </div>
              </div>
            </div>
            <div class="dev_application_data">
              <div class="dev_app_insights clearfix">
                <div>
                  <fb:iframe width="428" height="400" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"  src="http://localhost:3000/flickr/index?server=<%=@server.id%>&hunt=<%=@hunt.id%>"></fb:iframe>
                </div>
              </div>
            </div>
            <div class="dev_app_footer"><%= link_to 'Back', :action => :hint %> | <a href="www.facebook.com/">Action2</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
