<h2>Submit an answer</h2>

<% form_tag :action => :answer, :id => @hunt.id, :class => "clearfix" do %>
<%= label_tag 'answer_type', 'Answer type' %>
<%= select_tag(:answer_type, options_for_select( %w(URI Picture Geoloc Video String)) ) %>
	<p />
  <%= text_area_tag :answer, nil, :size => "55x10" %>
	<p />
  <%= label_tag 'geoloc_lat', 'Latitude' %>
  <%= text_field_tag :geoloc_lat, nil, {:maxlength => 8, :class => "inputtext" } %>
  <%= label_tag 'geoloc_lat', 'Longitude' %>
  <%= text_field_tag :geoloc_long, nil, { :maxlength => 8, :class => "inputtext" } %>
  <%= label_tag 'geoloc_lat', 'Planet' %>
  <%= text_field_tag :geolog_planet, nil, { :maxlength => 8, :class => "inputtext" } %>
  <%= submit_tag 'Submit', :class => "inputsubmit" %>
<% end %>
<%= link_to 'Back', :action => :hint %>

