<h2>Submit a fake hint</h2>
<%= stylesheet_link_tag 'fakehint' %>

<div id="hint">
<% form_tag :action => :fakehint, :id => @hunt.id do %>
  <%= text_area_tag :fakehint, nil, :size => "55x20" %>
  <p />
  <%= radio_button_tag 'turn_radio', 'dropdown', true %>
  <%= label_tag 'turn_radio_dropdown', 'Select a turn' %>
  <%= select_tag :turn_list, options_for_select( @turns ) %>
  <br />
  <%= radio_button_tag 'turn_radio', 'inputtext' %>
  <%= label_tag 'turn_radio_inputtext', 'Select a custom turn' %>
  <%= text_field_tag :turn_custom, nil, :class => :inputtext %>
  <%= submit_tag 'Submit', :class => :inputsubmit %>
<% end %>
</div>

<div id="status">
  <b>Player status:</b>
  <br />
  <% if @status.is_a? Exception %>
    <%= @status.message %>
  <% else %>
    <%= render(:partial => "status_item", :collection => @status) %>
  <% end %>
</div>

<div id="back">
<%= link_to 'Back', :action => :hint %>
</div>
