<h2>Submit a fake hint</h2>
<%= stylesheet_link_tag 'fakehint' %>

<div id="hint">
<% form_tag :action => :fakehint, :id => @hunt.id do %>
  <!-- <%= label_tag 'fakehint', 'Fake hint' %> -->
  <%= text_area_tag :fakehint, nil, :size => "55x20" %>
  <p />
  <%= label_tag 'turn', 'Turn' %>
  <% #select_tag :turn, options_for_select( (0..15).to_a ) %>
  <%= text_field_tag :turn, nil, :class => :inputtext %>
  <%= submit_tag 'Submit', :class => :inputsubmit %>
<% end %>
</div>

<div id="status">
  <b>Player status:</b>
  <br />
  <% if @status.is_a? Exception %>
    <%= @status.message %>
  <% else %>
    <%= render(:partial => "status_item", :collection => @status) %>
  <% end %>
</div>

<div id="back">
<%= link_to 'Back', :action => :hint %>
</div>
