<h2>Submit a fake hint</h2>

<% form_tag :action => :fakehint, :id => @hunt.id do %>
  <!-- <%= label_tag 'fakehint', 'Fake hint' %> -->
  <%= text_area_tag :fakehint, nil, :size => "55x20" %>
  <p />
  <%= label_tag 'turn', 'Turn' %>
  <%= text_field_tag :turn, nil, :class => :inputtext %>
  <%= submit_tag 'Submit', :class => :inputsubmit %>
<% end %>

<p>
<%= link_to 'Back', :action => :hint %>
</p>
