<div class="ubersearch">
  <strong><%= pluralize @hunts.size, "treasure hunt" %> found</strong>
  <div class="clearfix">
    <% unless @hunts.size == 0 %>
      <% for hunt in @hunts %>
	<div class="result clearfix">
	  <div class="info">
	    <dl>
	      <dt>Title:</dt> <dd class="result_name fn"><%=link_to h(hunt.title), hunt %></dd>
	      <dt>Description:</dt> <dd><%= truncate(prettyprint_blockinline(hunt.xml, 'description').strip, :length => 160).gsub(/<[^>]*$/,'...').gsub(/<\/?img.*?>/,'').gsub(/<\/?p.*?>/,'') %></dd>
	    </dl>
	  </div>
	  <ul class="actionspro">
	    <li class="actionspro_li"><%= link_to 'Show', hunt, :class => 'actionspro_a' %></li>

	    <li class="actionspro_li"><%= link_to 'Invite friends', {:id => hunt, :action => :invite }, :class => 'actionspro_a'%></li>
	    <% if @current_user and @current_user.is_admin? hunt.id %>
	      <li class="actionspro_li"><%= link_to 'Delete', hunt,
					    :confirm => 'Are you sure do you want to delete this treasure hunt?',
					    :method => :delete, :class => 'actionspro_a', :id => 'admin' %></li>
	    <% end %>
	  </ul>
	</div>
      <% end %>
    <% else %>
      <p class="result clearfix" id="info">There aren't any, <%= link_to 'create one now and start playing!', new_treasure_hunt_path %></p>
    <% end %>
  </div>
</div>
