<div id="hunt-list">
  <h1>Listing Treasure Hunts</h1>

  <table>
  <% for hunt in @hunts %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">

      <td class="list-description">
        <dl>
          <dt><b><%=h hunt.title %></b></dt>
          <dd><%=truncate(prettyprint_blockinline(hunt.xml, 'description'),
                 :length => 100).gsub(/<[^>]*$/,'...') %></dd>
        </dl>
      </td>

      <td class="list-actions">
        <%= link_to 'Show', hunt %><br/>
        <%= link_to 'Destroy', hunt,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New hunt', new_treasure_hunt_path %>
