<div class="ubersearch">
  <div class="clearfix">
    <div class="result clearfix">
      <div class="info">
	<dl class="clearfix">
	  <dt>Title:</dt><br />
	  <dd class="result_name fn" id="show-title"><%=h @hunt.title %></dd>
	</dl>
      </div>
    <%= render :partial => "sidebar" %>
    </div>
    <div class="result clearfix">
      <div class="info">
	<dl class="clearfix">
	  <dt>Description:</dt><br />
	  <dd id="show-desc"><%= prettyprint_blockinline(@hunt.xml, 'description') %></dd>
	</dl>
      </div>
    </div>
  </div>
</div>



<% fb_dialog 'play', true do %>
  <%= fb_dialog_title 'Play as:' %>
  <% fb_dialog_content do %>
    <% form_tag( { :action => :subscribe, :id => @hunt.id }, :id => 'subscribe_form' ) do %>
	<%= radio_button_tag :button, :user, :checked => true %>
	<%= label_tag 'button_user', @current_facebook_user.name %>
	<br />
	<%= radio_button_tag :button, :group %>
	<%= label_tag 'button_group', "One of your groups:" %>
	<%= @groups = @facebook_session.user.groups
	    select_tag(:gid, options_for_select( @groups.collect { |g| [ g.name, g.id ] }, params[:gid])) %>
    <% end %>
  <% end %>
  <%= fb_dialog_button :submit, 'Play!', :form_id => 'subscribe_form' %>
<% end %>