<p>
  <b>Title:</b>
  <%=h @hunt.title %>
</p>

<p>
  <b>Description:</b>
  <%= prettyprint_blockinline(@hunt.xml, 'description') %>
</p>

<% form_tag(:action => :subscribe, :id => @hunt.id) do %>
  <p>
    <%= radio_button_tag :button, :user, :checked => true %>
    <%= label_tag 'button_user', "Subscribe as #{@current_facebook_user.name}" %>
    <br /> <% # TODO orrendo! CSS! %>
    <%= radio_button_tag :button, :group %>
    <%= label_tag 'button_group', "Subscribe as the following group:" %>
    <%= @groups = @facebook_session.user.groups
    select_tag(:gid, options_for_select( @groups.collect { |g| [ g.name, g.id ] }, params[:gid] ) )
    %>
    <p>
      <%= radio_button_tag :button, :user, :checked => true %>
      <%= label_tag 'button_user', "Subscribe as #{@current_facebook_user.name}" %>
      <br /> <% # TODO orrendo! CSS! %>
      <%= radio_button_tag :button, :group %>
      <%= label_tag 'button_group', "Subscribe as the following group:" %>
      <%= @groups = @facebook_session.user.groups
      select_tag(:gid, options_for_select( @groups.collect { |g| [ g.name, g.id ] }, params[:gid] ) )
      %>
      <p>
      <%= submit_tag "Subscribe" %>
      </p>
    </p>
  <% end %>
<% else %>
  <%= button_to 'Get hint', { :action => :gethint, :id => @hunt.id } %>
<% end %>
<%= button_to 'Get hint', { :action => :hint, :id => @hunt.id } %>
<% if @current_user.is_admin? @hunt.id %>
  <%= button_to 'Start', { :action => :start, :id => @hunt.id } %>
<% end %>
<%= link_to 'Back', treasure_hunts_path %>
