<p>
  <b>Status:</b>
     @status.each do |status| %>
	<div class="result clearfix" >
	    <dl>
            <dt> <dd class="result_name fn">Thunttid: <%= status['id'] %></dd>
                 <dd class="result_name fn">TurnName: <%= status['turnName'] %></dd>
                 <dd class="result_name fn">TurnId: <%= status['turnId'] %></dd>
                 <dd class="result_name fn">TurnNumber: <%= status['turnNumber'] %></dd>
                 <dd class="result_name fn">HintNumber: <%= status['hintNumber'] %></dd>
            </dt>
	    </dl>
	  </div>
    <% end %>

</p>


<%= link_to 'Back', treasure_hunts_path %>
