<%= stylesheet_link_tag "http://static.ak.fbcdn.net/rsrc.php/z2H8E/lpkg/dayzc47w/it_IT/141/173310/css/cu2v5qeuvg8w4owo.pkg.css", :media => "screen" %>
<%= stylesheet_link_tag "http://static.ak.fbcdn.net/rsrc.php/z574Z/lpkg/5kk2yhyj/it_IT/141/173723/css/4nv8etrkutk4ksco.pkg.css", :media => "screen" %>
<%= stylesheet_link_tag "corinna", :media => "screen" %>
<% fb_dashboard do %>
  <%= fb_action 'Home', {:controller => :list, :action => :index} %>
  <%= fb_action 'Servers', servers_path %>
  <% if (action_name == "index" or action_name == "new") %>
    <% if controller_name == "servers" %>
      <%= fb_create_button 'Server', new_server_path %>
    <% elsif controller_name == "list" %>
      <%= fb_create_button 'New Treasure Hunt', new_server_treasure_hunt_path(@default_server) %>
    <% else %>
      <%= fb_create_button 'New Treasure Hunt', new_server_treasure_hunt_path %>
    <% end %>
  <% end %>
  <%= fb_help 'Feedback', fb_about_url %>
<% end %>
<div id="columns">
  <div id="side">
  </div>
  <div id="main">
    <div id="notice">
      <% if flash[:info] %>
        <%= fb_explanation(flash[:notice], flash[:info]) %>
      <% elsif (flash[:notice] or flash[:error]) %>
        <%= facebook_messages %>
      <% end %>
    </div>
    <%= fb_add_profile_section %>
    <%= yield :layout %>
  </div>
</div>
