<%= stylesheet_link_tag "http://static.ak.fbcdn.net/rsrc.php/z2H8E/lpkg/dayzc47w/it_IT/141/173310/css/cu2v5qeuvg8w4owo.pkg.css", :media => "screen" %>
<%= stylesheet_link_tag "http://static.ak.fbcdn.net/rsrc.php/z574Z/lpkg/5kk2yhyj/it_IT/141/173723/css/4nv8etrkutk4ksco.pkg.css", :media => "screen" %>
<%= stylesheet_link_tag "corinna", :media => "screen" %>
<% fb_dashboard do %>
  <%= fb_action 'Home', treasure_hunts_path %>
  <%= fb_action 'Create a new Treasure Hunt', new_treasure_hunt_path %>
  <%= fb_help 'Feedback', fb_about_url %>
<% end %>
<div id="columns">
  <div id="side">
  </div>
  <div id="main">
      <div id="notice">
	<%= facebook_messages if flash[:notice] || flash[:error] %>
      </div>
    <%= yield :layout %>
  </div>
</div>
